{% extends "base.html" %}

{% block title %}All Posts{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Latest Posts</h2>

{% if user.is_staff %}
  <a href="{% url 'post_new' %}">New Post</a>
{% endif %}

  {% if object_list %}
    <div class="row">
      {% for post in object_list %}
        <div class="col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h3>
              <p class="card-text">{{ post.content|truncatewords:25 }}</p>
              <p class="text-muted mb-1"><strong>Author:</strong> {{ post.author }}</p>
              <p class="text-muted"><em>{{ post.timestamp|date:"F j, Y, g:i a" }}</em></p>
            </div>
          </div>
        </div>
        
      {% endfor %}
    </div>
  {% else %}
    <p>No posts available.</p>
  {% endif %}
</div>
{% endblock %}


